html {
    scroll-behavior: smooth;
    font-size: 65.5%;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.6rem;
    background-color: cornflowerblue;
}

.menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.left-side {
    height: 100vh;
    background-color: rgb(20, 37, 54);
    color: aliceblue;
    padding-top: 50px;

}

.right-side {
    background-color: aliceblue;
}

[id] {
    scroll-margin-top: 50px;
}


.navbar-nav ul{
    display: table;
}

.navbar-nav li{
    margin: 0%  1%;
}

.nav-item a{
    display: block;
    width: 180px;
    text-transform: uppercase;
    text-align: center;
    border-radius: 30% 12%;
}

.nav-item a:hover{

    background-color: rgb(20, 37, 54);
    color: white !important;
    border-radius: 30% 12%;
}